.beerCard {
	max-width: 100vw;
	max-height: 100vh;
	height: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 350px;
}

.nav {
	max-width: 100vw;
}
